.card {
    padding-left: 35px;
    transition: transform 450ms;
}

.card:hover {
    transform: scale(1.08);
}

.card__info {
    border: 1px solid lightgray;
    background-color: #fff;
    max-width: 25vw;
    min-width: 20vw;
    min-height: 43vh;
    max-height: 180vh;
    border-radius: 12px;
    margin: 10vh 0 0 10vh;
}

.card__infoHeader {
    padding: 25px 20px 10px 20px;
}

.card__infoHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__infoHeaderContainerTag {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 7px;
    background: #fd746c !important;  
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c) !important;  
    background: linear-gradient(to right, #ff9068, #fd746c) !important; 
    color: white;
}

.card__infoHeaderContainerTag > span {
    font-size: 15px;
}

.card__infoBody > img {
    max-width: 35vw;
    min-width: 20vw;
    max-height: 25vh;
    padding: 10px 10px 20px 0px;
}

.card__infoBottom {
    display: flex;
    justify-content: space-between;
}

.card__infoBottom > div {
    display: flex;
    align-items: center;
}

.card__infoBottom > div > p {
    padding-left: 8px;
}

